.submitBtn{
    border: none;
    outline: none;
    background: white;
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    width: 10%;
    cursor: pointer;
}
.inputBox{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 2rem;
        background: black;


    }
    .imageShow{
        display: grid;
        
    }
    .imageShow > img{
        width: 100%;
    height: 500px;
    object-fit: cover;
    
    }
    